[*.cs]
dotnet_diagnostic.CS0219.severity = error
dotnet_diagnostic.IDE0008.severity = error
dotnet_diagnostic.IDE0100.severity = error
dotnet_diagnostic.IDE1006.severity = error
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.CS8321.severity = error
dotnet_diagnostic.CS0162.severity = error
dotnet_diagnostic.CS0168.severity = error
dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0058.severity = silent
dotnet_diagnostic.IDE0055.severity = error
dotnet_diagnostic.IDE0120.severity = suggestion
dotnet_diagnostic.IDE0053.severity = warning
dotnet_diagnostic.CA1822.severity = silent
dotnet_diagnostic.IDE0090.severity = error

csharp_style_expression_bodied_methods=false:silent
csharp_style_expression_bodied_constructors=false:silent
csharp_style_expression_bodied_operators=false:suggestion
csharp_style_expression_bodied_local_functions=false:silent
csharp_style_expression_bodied_properties=true:warning
csharp_style_expression_bodied_indexers=true:warning
csharp_style_expression_bodied_accessors=true:warning
csharp_style_expression_bodied_lambdas=when_on_single_line:warning
csharp_style_prefer_range_operator=true:warning
csharp_style_prefer_index_operator=true:warning
csharp_style_throw_expression=true:warning
csharp_style_inlined_variable_declaration=true:warning
csharp_style_prefer_pattern_matching=true:warning
csharp_style_pattern_matching_over_is_with_cast_check=true:warning
csharp_style_pattern_matching_over_as_with_null_check=true:warning
csharp_style_prefer_switch_expression=true:silent

[*.{cs,vb}]
dotnet_style_prefer_auto_properties=true:warning
dotnet_style_prefer_conditional_expression_over_assignment=true:none
dotnet_style_prefer_conditional_expression_over_return=false:warning
dotnet_style_prefer_simplified_boolean_expressions=true:warning
dotnet_style_collection_initializer=true:warning
dotnet_style_object_initializer=true:warning
dotnet_style_prefer_compound_assignment=true:warning
dotnet_style_readonly_field=true:error
dotnet_code_quality_unused_parameters=all:suggestion
dotnet_diagnostic.IDE0044.severity = error
dotnet_diagnostic.IDE0040.severity = error
dotnet_diagnostic.IDE0060.severity = suggestion
dotnet_diagnostic.IDE0003.severity = error
dotnet_diagnostic.IDE0047.severity = error
dotnet_diagnostic.IDE0045.severity = none
